.container {
    margin: 0 auto;
    width: 50%;
}
.title {
    font-size: 3em;
    margin-top: 1em;
}
textarea {
    font-size: 1.5em;
    height: 20em;
    width: 90%;
}
button {
    background-color: #ffa07a;
    border: 0;
    font-size: 1.2em;
    margin-right: 0.8em;
    padding: .3em;
}
button:hover {
    background-color: #ffaaaa;
    cursor: pointer;
